.connection {
  padding: 20px 22px;
  background: #3584df;
  color: #fff;
  transition: background 100ms;
}
.connection.disconnected {
  background: #df3535;
}
.connection-status {
  font-weight: 500;
  margin-bottom: 5px;
}
.data {
  font-size: 14px;
}